<section class="section-about-us">
  <div class="container wrapper">
    <div class="about-text">
      <h2 class="about-header">About Us</h2>
      <ul class="list-about">
        <li>
          <p class="about-article">
            Welcome to our premium watch collection, where luxury and style meet
            functionality and precision. Our selection of timepieces embodies
            the very best in Swiss craftsmanship and engineering, ensuring that
            you'll always have a reliable and stylish accessory on your wrist.
          </p>
        </li>
        <li>
          <p class="about-article">
            At our premium watch collection, we believe that a watch is more
            than just a timekeeping device – it's a statement piece that
            reflects your personality and style. So why settle for anything less
            than the best?
          </p>
        </li>
      </ul>

      <button href="#catalog" class="btn-about" type="button">
        View catalog
      </button>
    </div>
    <picture>
      <source
        srcset="
          ../img/about-us/about-us-dekstop.png    1x,
          ../img/about-us/about-us-dekstop@2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ../img/about-us/about-us-tablet.png    1x,
          ../img/about-us/about-us-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../img/about-us/about-us-mobile.png    1x,
          ../img/about-us/about-us-mobile@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="../img/about-us/about-us-mobile.png"
        alt="black-clock"
        class="clock-img"
      />
    </picture>
  </div>
</section>
