<section class="catalog-section">
 <div class="container catalog-container">  
    <h2 id="catalog" class="section-title">Catalog</h2>
   <ul class="catalog-list">
       <li class="catalog-card">
          <picture>
            <source srcset="../img/catalog/tablet/fenix-tablet.png 1x, ../img/catalog/tablet/fenix-tablet@2x.png 2x" media="(min-width: 768px)"> 
            <source srcset="../img/catalog/mobile/fenix-mob.png 1x, ../img/catalog/mobile/fenix-mob@2x.png 2x" media="(max-width: 767px)">
            <img class="watch-item" src="../img/catalog/mobile/fenix-mob.png" alt="Garmin Fenix 7X Pro Sapphire Solar watch photo"/>
          </picture>
          <h3 class="catalog-watch-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-watch-price">€500</p>
       </li>
       <li class="catalog-card">
          <picture>
            <source srcset="../img/catalog/tablet/marq-tablet.png 1x, ../img/catalog/tablet/marq-tablet@2x.png 2x" media="(min-width: 768px)">
            <source srcset="../img/catalog/mobile/marq-mob.png 1x, ../img/catalog/mobile/marq-mob@2x.png 2x" media="(max-width: 767px)">
            <img class="watch-item" src="../img/catalog/mobile/marq-mob.png" alt="Garmin Marq Athlete watch photo"/>
          </picture>
          <h3 class="catalog-watch-name">Garmin Marq Athlete</h3>
          <p class="catalog-watch-price">€450</p>
       </li>
       <li class="catalog-card">
           <picture>
             <source srcset="../img/catalog/tablet/descent-tablet.png 1x, ../img/catalog/tablet/descent-tablet@2x.png 2x" media="(min-width: 768px)">
             <source srcset="../img/catalog/mobile/descent-mob.png 1x, ../img/catalog/mobile/descent-mob@2x.png 2x" media="(max-width: 767px)">
             <img class="watch-item" src="../img/catalog/mobile/descent-mob.png" alt="Garmin Descent MK1 watch photo"/>
           </picture>
           <h3 class="catalog-watch-name">Garmin Descent MK1</h3>
           <p class="catalog-watch-price">€680</p>
       </li>
       <li class="catalog-card">
           <picture>
             <source srcset="../img/catalog/tablet/delta-tablet.png 1x, ../img/catalog/tablet/delta-tablet@2x.png 2x" media="(min-width: 768px)">
             <source srcset="../img/catalog/mobile/delta-mob.png 1x, ../img/catalog/mobile/delta-mob@2x.png 2x" media="(max-width: 767px)">
             <img class="watch-item" src="../img/catalog/mobile/delta-mob.png" alt="Garmin D2 Delta PX watch photo"/>
           </picture>
           <h3 class="catalog-watch-name">Garmin D2 Delta PX</h3>
           <p class="catalog-watch-price">€380</p>
       </li>
       <li class="catalog-card hidden">
        <picture>
          <source srcset="../img/catalog/tablet/solar-tablet.png 1x, ../img/catalog/tablet/solar-tablet@2x.png 2x" media="(min-width: 768px)">
          <img class="watch-item" src="../img/catalog/tablet/solar-tablet.png" alt="Garmin Fenix 6 Pro Solar watch photo"/>
        </picture>
        <h3 class="catalog-watch-name">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-watch-price">€400</p>
      </li>
      <li class="catalog-card hidden">
        <picture>
          <source srcset="../img/catalog/tablet/tube-tablet.png 1x, ../img/catalog/tablet/tube-tablet@2x.png 2x" media="(min-width: 768px)">
          <img class="watch-item" src="../img/catalog/tablet/tube-tablet.png" alt="Tube Watch S42 Date Steel watch photo"/>
        </picture>
        <h3 class="catalog-watch-name">Tube Watch S42 Date Steel With Black Case</h3>
        <p class="catalog-watch-price">€395</p>
      </li>
   </ul>
    <button class="catalog-btn" type="button">Show more</button>
  </div>
</section>

