<section class="catalog-section">
  <div class="container catalog-container">
    <h2 class="section-title catalog-title">Catalog</h2>
    <ul class="catalog-list">
       <li class="catalog-card">
          <img srcset="../img/catalog/mobile/fenix-mob@2x.jpg"
          src="../img/catalog/mobile/fenix-mob@2x.jpg" alt="Garmin Fenix 7X Pro Sapphire Solar watch photo"/>
          <div class="catalog-card-descr">
             <h3 class="catalog-watch-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
             <p class="catalog-watch-price">€500</p>
          </div>
        </li>
       <li class="catalog-card">
          <img srcset="../img/catalog/mobile/marq-mob@2x.jpg"
          src="../img/catalog/mobile/marq-mob.jpg" alt="Garmin Marq Athlete watch photo"/>
          <div class="catalog-card-descr">
             <h3 class="catalog-watch-name">Garmin Marq Athlete</h3>
             <p class="catalog-watch-price">€450</p>
          </div>
       </li>
       <li class="catalog-card">
          <img srcset="../img/catalog/mobile/descent-mob@2x.jpg"
          src="../img/catalog/mobile/descent-mob.jpg" alt="Garmin Descent MK1 watch photo"/>
          <div class="catalog-card-descr">
             <h3 class="catalog-watch-name">Garmin Descent MK1</h3>
             <p class="catalog-watch-price">€680</p>
          </div>
       </li>
       <li class="catalog-card">
          <img srcset="../img/catalog/mobile/delta-mob@2x.jpg"
          src="../img/catalog/mobile/delta-mob.jpg" alt="Garmin D2 Delta PX watch photo"/>
          <div class="catalog-card-descr">
             <h3 class="catalog-watch-name">Garmin D2 Delta PX</h3>
             <p class="catalog-watch-price">€380</p>
          </div>
       </li>
    </ul>
    <button class="catalog-btn" type="button"></button>
  </div>
</section>