<section class="section contacts-section" id="contacts-us">
  <div class="container">
    <h2 class="section-title contacts-title">Contacts Us</h2>
    <div class="contacts-conteiner-contenet">
      <div class="contacts-conteiner-form">
        <p class="contacnts-form-description">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <form class="contacnts-form">
          <div class="contacts-conteiner-field">
            <input
              type="text"
              placeholder="Name"
              id="name"
              name="name"
              pattern="[\sa-zA-Z]+"
              required
            />
          </div>
          <div class="contacts-conteiner-field">
            <input
              type="email"
              placeholder="Email"
              id="email"
              name="email"
              pattern="[a-z0-9.%+-]+@[a-z0-9.%+-]+\.[a-z]{2,}$"
              required
            />
          </div>
          <div class="contacts-conteiner-field">
            <input
              type="tel"
              placeholder="+380"
              id="tel"
              name="tel"
              pattern="\+?[0-9]{9,15}"
              required
            />
          </div>
          <div class="contacts-conteiner-textarea">
            <textarea
              class="contacts-textrea"
              placeholder="Comment"
              name="comment"
              minlength="10"
            ></textarea>
          </div>
          <div class="contacts-conteiner-fiel">
            <button class="contacts-button" type="submit">Send</button>
          </div>
        </form>
      </div>
      <div class="contacts-img-conteiner">
        <picture>
          <source
            srcset="
              ../img/contact/contact-desc@1x.jpg 1x,
              ../img/contact/contact-desc@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/contact/contact-tab@1x.jpg 1x,
              ../img/contact/contact-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/contact/contact-mob@1x.jpg 1x,
              ../img/contact/contact-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="contact-img"
            src="../img/contact/contact-desc@1x.jpg"
            alt="watch"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
