<footer class="container section" id="footer">
  <div class="footer-container">
    <div class="footer-contacts-desc">
      <div class="footer-contacts">
        <div class="footer-logo-socialmedia">
          <a href="../index.html" class="footer-logo">watchcharm</a>
          <ul class="footer-socialmedia-list">
            <li class="footer-socialmedia-item">
              <a
                href="https://www.facebook.com/goITclub/"
                class="footer-socialmedia-icon"
                target="_blank"
              >
                <svg class="footer-item-icon" aria-label="icon-facebook">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-socialmedia-item">
              <a
                href="https://www.instagram.com/goitclub/"
                class="footer-socialmedia-icon"
                target="_blank"
              >
                <svg class="footer-item-icon" aria-label="icon-instagram">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-socialmedia-item">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="footer-socialmedia-icon"
                target="_blank"
              >
                <svg class="footer-item-icon" aria-label="icon-youtube">
                  <use href="./img/icons.svg#icon-Frame-60"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <address class="footer-address">
            <a class="footer-btn" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
        </address>
      </div>
      <p class="footer-slogan">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </p>
    </div>
    <div class="footer-menu">
      <div class="footer-menu-nav line">
        <nav class="footer-nav">
          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <a href="#hero">Home</a>
            </li>
            <li class="footer-nav-item">
              <a href="#about-us">About Us</a>
            </li>
            <li class="footer-nav-item">
              <a href="#catalog">Catalog</a>
            </li>
            <li class="footer-nav-item">
              <a href="#sale">Sale</a>
            </li>
            <li class="footer-nav-item">
              <a href="#reviews">Reviews</a>
            </li>
            <li class="footer-nav-item">
              <a href="#contact-us">Contact Us</a>
            </li>
          </ul>
        </nav>
        <p class="footer-post">1678 S. Pioneer Road Salt Lake City UT 84104</p>
      </div>
      <div class="footer-dop-info">
        <p class="footer-copyrights">
          &copy;2023 The Watch Spot. All rights reserved.
        </p>
        <div class="footer-terms">
          <a class="footer-service" href="#">Terms of Service</a>
          <a class="footer-privacy" href="#">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
