<header>
  <div class="container header-container">
    <nav class="page-nav">
      <a class="logotype" href="./index.html">watchcharm</a>
      <ul class="navlist">
        <li class="navlist-item">
          <a class="navlist-link current" href="./index.html">Home</a>
        </li>
        <li class="navlist-item">
          <a class="navlist-link" href="">About us</a>
        </li>
        <li class="navlist-item">
          <a class="navlist-link" href="">Catalog</a>
        </li>
        <li class="navlist-item">
          <a class="navlist-link" href="./index.html">Sale</a>
        </li>
        <li class="navlist-item">
          <a class="navlist-link" href="">Reviews</a>
        </li>
        <li class="navlist-item">
          <a class="navlist-link" href="#Contacts Us">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="footer-son-list team-son-list">
      <li class="team-son-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="footer-son-link team-son-link"
        >
          <svg class="footer-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="team-son-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="footer-son-link team-son-link"
        >
          <svg class="footer-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="team-son-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="footer-son-link team-son-link"
        >
          <svg class="footer-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-Frame-60"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button type="button" class="open-menu-btn">
      <svg width="30" height="11.67">
        <use href="./img/icons.svg#icon-Icon"></use>
      </svg>
    </button>
  </div>
</header>
