<section class="hero-section">
  <div class="container">
    <div class="hero-container">
      <div class="hero-title-box">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-color">collection</span>
          of premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From <br />
          classic designs to modern ones, we have a watch to <br />
          suit every taste and occasion.
        </p>
      </div>
      <div class="hero-image">
        <div class="hero-image-block">
          <img class="hero-img" src="./img/hero-icon.jpg" alt="people" />
        </div>
        <button type="button" class="hero-btn">Scroll down</button>
      </div>
    </div>
    <img
      class="mobile-image-hero"
      src="./img/mobile-hero-image.jpg"
      alt="watches"
    />
  </div>
</section>
