<section class="section hero-section">
  <div class="container">
    <div class="hero-conteiner-content">
      <div class="hero-conteiner-info">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-color">collection</span> of
          premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-conteiner-team">
        <ul class="hero-team-list">
          <li class="hero-team-item">
            <picture>
              <source
                srcset="
                  ./img/hero/team/desc-maria-cvit@1x.png 1x,
                  ./img/hero/team/desc-maria-cvit@2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hero/team/tab-maria-cvit@1x.png 1x,
                  ./img/hero/team/tab-maria-cvit@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/hero/team/mob-maria-cvit@1x.png 1x,
                  ./img/hero/team/mob-maria-cvit@2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/hero/team/desc-maria-cvit@1x.png"
                alt="maria cvitcova"
              />
            </picture>
          </li>
          <li class="hero-team-item">
            <picture>
              <source
                srcset="
                  ./img/hero/team/desc-alex-sterl@1x.png 1x,
                  ./img/hero/team/desc-alex-sterl@2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hero/team/tab-alex-sterl@1x.png 1x,
                  ./img/hero/team/tab-alex-sterl@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/hero/team/mob-alex-sterl@1x.png 1x,
                  ./img/hero/team/mob-alex-sterl@2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/hero/team/desc-alex-sterl@1x.png"
                alt="alex sterling"
              />
            </picture>
          </li>
          <li class="hero-team-item">
            <picture>
              <source
                srcset="
                  ./img/hero/team/desc-nata-popa@1x.png 1x,
                  ./img/hero/team/desc-nata-pop@2x.png  2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hero/team/tab-nata-pop@1x.png 1x,
                  ./img/hero/team/tab-nata-pop@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/hero/team/mob-nata-pop@1x.png 1x,
                  ./img/hero/team/mob-nata-pop@2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/hero/team/desc-nata-pop@1x.png"
                alt="natali popova"
              />
            </picture>
          </li>
        </ul>
        <a class="hero-link-scroll" href="#footer">Scroll down</a>
      </div>
    </div>
    <div class="hero-conteiner-img">
      <picture>
        <source
          srcset="
            ./img/hero/content/desc-hero@1x.jpg 1x,
            ./img/hero/content/desc-hero@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/hero/content/tab-hero@1x.jpg 1x,
            ./img/hero/content/tab-hero@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/hero/content/mob-hero@1x.jpg 1x,
            ./img/hero/content/mob-hero@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img src="./img/hero/content/desc-hero@1x.jpg" alt="watch" />
      </picture>
    </div>
  </div>
</section>
