<div class="backdrop-mobile is-open">
  <div class="modal-mobile">
    <button type="button" class="modal-close-btn">
      <svg class="modal-close-icon">
        <use href="./img/icons.svg#icon-x"></use>
      </svg>
    </button>
    <nav class="page-nav-mobile">
      <ul class="navlist-mobile">
        <li class="navlist-item-mobile">
          <a class="navlist-link-mobile current-mobile" href="./index.html"
            >Home</a
          >
        </li>
        <li class="navlist-item-mobile">
          <a class="navlist-link-mobile" href="">About us</a>
        </li>
        <li class="navlist-item-mobile">
          <a class="navlist-link-mobile" href="">Catalog</a>
        </li>
        <li class="navlist-item-mobile">
          <a class="navlist-link-mobile" href="./index.html">Sale</a>
        </li>
        <li class="navlist-item-mobile">
          <a class="navlist-link-mobile" href="">Reviews</a>
        </li>
        <li class="navlist-item-mobile">
          <a class="navlist-link-mobile" href="">Contact Us</a>
        </li>
      </ul>
    </nav>

    <ul class="footer-son-list-mobile team-son-list-mobile">
      <li class="team-son-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="footer-son-link-mobile team-son-link-mobile"
        >
          <svg class="footer-icon">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="team-son-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="footer-son-link-mobile team-son-link-mobile"
        >
          <svg class="footer-icon">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="team-son-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="footer-son-link-mobile team-son-link-mobile"
        >
          <svg class="footer-icon">
            <use href="./img/icons.svg#icon-Frame-60"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
