
.catalog-card {
background: #f3f3f3;
border: 1px solid rgba(12, 12, 12, 0.05);
border-radius: 30px;
width: 335px;
padding: 24px 28px;
margin-bottom: 20px;
width: 100%;
}
.watch-item {
padding: 18px 36px 18px 35px;
margin-bottom: 10px;
}
.catalog-watch-name {
font-weight: 500;
font-size: 16px;
line-height: 1.3;
letter-spacing: -0.02em;
color: #0c0c0c;
margin-bottom: 8px;
}
.catalog-watch-price {
font-weight: 400;
line-height: 1.3;
letter-spacing: -0.02em;
color: rgba(12, 12, 12, 0.5);
}
.last-mob {
margin-bottom: 0;
}
.catalog-btn {
display: block;
margin: 0 auto;
border: none;
border-radius: 16px;
min-width: 160px;
height: 48px;
background: #3350e9;
padding: 15px 44px;
line-height: 1.3;
text-align: center;
color: #fbfbfb;
margin-top: 40px;
}
.catalog-btn:focus {
background: #1f3cd4;
}

@media screen and (max-width: 767px) {
.hidden {
display: none;
}
.cat-span-point {
display: none;
}
}
@media screen and (min-width: 768px) {
.catalog-section {
margin-bottom: 80px;
}
.catalog-btn {
display: none;
}
.catalog-list {
display: flex;
flex-wrap: wrap;
column-gap: 16px;
row-gap: 32px;
width: 704px;
}
.catalog-card {
width: 344px;
padding: 24px 32px;
margin-bottom: 0;
}
.watch-item {
padding: 10px 6px;
}
.catalog-watch-name {
font-size: 20px;
line-height: 1;
}
.cat-span {
display: none;
} 
.cat-span-letter {
display: none;
}
}
@media screen and (min-width: 1280px) {
.catalog-section {
margin-bottom: 100px;
}
.catalog-card {
width: 368px;
}
.watch-item {
padding: 6px 6px 14px 6px;
}
.catalog-list {
column-gap: 23px;
width: 1150px;
}
.cat-span {
display: contents;
}
.sapphire {
width: 304px;
}
}
