.hero-conteiner-content {
  margin-bottom: 28px;
}
.hero-conteiner-info {
  margin-bottom:28px ;
}
.hero-conteiner-team {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.hero-team-list {
  display: flex;
}
.hero-team-list .hero-team-item:not(:first-child) {
  margin-left: -12px;
}
.hero-title {
  color: #0c0c0c;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.0;
  letter-spacing: -0.02em;
  max-width: 597px;
  margin-bottom: 20px;
}
.hero-title-color {
  color: #3350e9;
}
.hero-text {
  line-height: 1.3;
  letter-spacing: -0.02em;
  max-width:480px;
}
.hero-link-scroll {
  color: #0c0c0c;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.hero-link-scroll:hover,
.hero-link-scroll:focus {
  color: #3350e9;
}
.hero-team-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 100%;
  box-shadow: transparent;
}
.hero-team-item:hover,
.hero-team-item:focus {
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}


/*==================================! Tab styles */
@media screen and (min-width: 768px) {
.hero-conteiner-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
.hero-conteiner-team {
  flex-direction: column;
}
.hero-conteiner-info {
  margin-bottom: 0;
}
.hero-title{
  font-size: 70px;
  line-height: 0.85714;
 
}
.hero-text {
  font-size: 16px;
  line-height: 1.25;
  
}
.hero-link-scroll{
  font-size: 20px;
  line-height: 1;
}
.hero-team-list .hero-team-item:not(:first-child) {
  margin-left: -15px;
}
.hero-team-item {
  width: 56px;
  height: 56px;
}
}
/*==================================? Tab styles */
/*==================================! Desc styles */
@media screen and (min-width: 1280px) {
  .hero-title {
    font-size: 72px;
  }
    .hero-team-list .hero-team-item:not(:first-child) {
      margin-left: -19px;
    }
        .hero-team-item {
          width: 60px;
          height: 60px;
        }
}
/*==================================? Desc styles */